body{
    background:white;

}

heading {
background: #44aaaa;
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
padding: 20px;
margin: 0px;
float: left;
width: 15%;
text-align: center;
border-bottom-color: rgb(206, 200, 200);
border-bottom-style: solid;
border-bottom-width: thin;

}

.link {
background: white;
color: grey;
float:left;
list-style-type: none;
margin-top: 20px;
margin-bottom: 22px;
padding: 27px;
width: 70%;
height: 9px;
border-bottom-color: rgb(206, 200, 200);
border-bottom-style: solid;
border-bottom-width: thin;
}

h2{
margin-top: 10px;
margin-bottom: 20px;
border-bottom-color: rgb(206, 200, 200);
border-bottom-style: solid;
border-bottom-width: thin;
color: #44aaaa;

}

.background{
background: rgb(206, 200, 200);
padding: 27px;
margin-top: 80px;
height: 100px;

}

Section{
clear: both;
overflow: auto;
padding: 40px;
margin-left: 100px;
width: 70%;
background: white;
font-size: 12px;
position: absolute;
}

.content{
    background: pink;


}
