body {
    background: white;

}

h6{
    background: #44aaaa;
    float: left;
    text-align: center;
    position: fixed;
    top: 55px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    left: 162px;
}

.link{
    font-size: 14px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: fixed;
    right: 190px;
    top: 40px;
}
    
h5{
  
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 600px;
    padding: 25px;
    color: #44aaaa;
    background-color:white;
    height: 65px;
    border-bottom-color: rgb(226, 221, 221);
    border-width: thin;
    border-bottom-style: solid;
    margin-right: 55px;

    }

#footertp{
  
    height: 35px;
    background-color: #44aaaa;
    height: 10px;

}
#footerbm{
    
    background-color: grey;
    color: white;
    font-size: 8px;
    text-align: center;
    vertical-align: bottom;
    padding-top: 30px;
    height: 45px;
}

img {
height: 125px;
width: 100px;
float: left;
padding-right: 12px;

}

p{

    font-size: 14px;
    text-indent: 20px;
    margin-right: 32px;
    color: black;
    font-size: 14px;
    overflow: auto;
    clear: none;
}


.labels{

width: 100%;
margin: 8px 0;
box-sizing: border-box;

}
.background {
background-color:white;
height:100%;


}
.container{
background: rgb(128, 120, 120);
position: relative;
top: 99px;
width: 100%;
right: 8px;
height: 500px;

}

section{
background: white;
position: relative;
top: 20px;
border: #777777;
border-style: solid;
border-width: thin;
height: 450px;
width: 800px;
}