.body{
    background:white;
    width: 960px;

}

#header {
    background: #44aaaa;
    float: left;
    width: 200px;
    text-align: center;
    margin-top: 30px;
    margin-left: 150px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#link {
    background: white;
    float: left;
    text-align: right;
    margin-top: 70px;
    width: 600px;
    margin-right: 50px;
    font-size: 14px;
    color: #e6e1e1;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

    }
    
h2{
  
    clear: both; 
    overflow: auto;
    border-bottom-color: rgb(226, 221, 221);
    border-width: medium;
    border-bottom-style: solid;
    padding: 5px;
    color: #44aaaa;
    background-color: #ffffff;
    }
    
#content{
background-color: rgb(228, 220, 220);
position: relative;
top: 100px;
border-top-color:#cccccc;
border-width: thin;
border-top-style: solid;
height: 400px;
}

#text{
  background: #ffffff;
  width: 800px;
  height: 300px;
  position: absolute;
  top: 30px;
  right: 200px;
  padding: 10px;
  color: #777777;
  font-size: 14px;
  border-color: #dddddd;
  border-width: medium;
  border-style: solid;


}

#footertp{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 35px;
    width: 100%;
    background-color: #44aaaa;
}
#footerbm{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: grey;
    color: white;
    font-size: 8px;
    text-align: center;
    vertical-align: bottom;
}